<ion-header>
    <ion-navbar>
        <ion-title>
            Products
        </ion-title>
        
        <ion-buttons end>
            <!-- <button ion-button icon-only (click)="getProducts()">
                <ion-icon name="refresh"></ion-icon>
            </button> -->
            <button ion-button icon-only (click)="startSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button icon-only (click)="createProduct()">
                <ion-icon name="add"></ion-icon>
            </button>
            <button ion-button icon-only (click)="goToCart()">
                <ion-icon name="cart"></ion-icon>
            </button>
            <button ion-button icon-only (click)="showMenu($event)">
              <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar *ngIf="showSearch"
      [(ngModel)]="search"
      showCancelButton="true"
      (ionCancel)="hideSearch()"
      (ionInput)="getProducts()">
    </ion-searchbar>
    <ion-list *ngFor="let product of productlist">
        <ion-row align-items-stretch>
            <ion-col>
                <img [src]="product.product_image" />
            </ion-col>
            <ion-col>
                <ion-item (click)="editProduct(product.product_id)" *ngIf="productlist.length > 0">
                    <p class="kindabigger"><strong>{{product.product_title}}</strong></p>
                    <p class="kindabigger">{{product.product_desc}}</p>
                    <p class="kindasmall">{{product.product_stock}} available</p>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-buttons end>
                    <button ion-button (click)="addToCart(product.product_title, product.product_id, product.product_stock)" *ngIf="product.user_id != user_id && product.product_stock > 0">
                        <ion-icon name="add"></ion-icon>To cart
                    </button>
                    <button ion-button (click)="addToCart(product.product_title, product.product_id, product.product_stock)" *ngIf="product.user_id != user_id && product.product_stock == 0" disabled>
                        Unavailable
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-list>
    <h4 *ngIf="productlist.length == 0 && search == ''" text-center>You don't have any products.</h4>
    <h4 *ngIf="productlist.length == 0 && search != ''" text-center>No result for this search.</h4>
</ion-content>