<ion-header>
    <ion-navbar>
        <ion-title *ngIf="fullname">
            {{fullname}}'s Products
        </ion-title>
        <ion-title *ngIf="!fullname">
            My Products
        </ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only (click)="getProducts()">
                <ion-icon name="refresh"></ion-icon>
            </button>
            <button ion-button icon-only (click)="createProduct()">
                <ion-icon name="add"></ion-icon>
            </button>
            <button ion-button icon-only (click)="logout()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let product of productlist">
        <ion-item (click)="editProduct(product.product_id)" *ngIf="productlist?.length > 0">
            <p><strong>{{product.product_title}}</strong></p>
            <p>{{product.product_description}}</p>
        </ion-item>
        <ion-buttons end>
            <button ion-button icon-only (click)="deleteProduct(product.product_id)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-list>
    <h4 *ngIf="notelist?.length == 0" text-center>You don't have any products.</h4>
</ion-content>