<ion-header>
  <ion-navbar>
    <ion-title *ngIf="fullname">
      {{fullname}}'s Notes
    </ion-title>
    <ion-title *ngIf="!fullname">
      My Notes
    </ion-title>
    <ion-buttons end>
	    <button ion-button icon-only (click)="getNotes()">
	    	<ion-icon name="refresh"></ion-icon>
	    </button>
	    <button ion-button icon-only (click)="createNote()">
	    	<ion-icon name="add"></ion-icon>
	    </button>
	    <button ion-button icon-only (click)="logout()">
	    	<ion-icon name="arrow-back"></ion-icon>
	    </button>
	</ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list *ngFor="let note of notelist">
		<ion-item (click)="editNote(note.note_id)" *ngIf="notelist?.length > 0">
  		<p><strong>{{note.note_title}}</strong></p>
  		<p>{{note.note_content}}</p>
		</ion-item>
    <ion-buttons end>
      <button ion-button icon-only (click)="deleteNote(note.note_id)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-list>
  <h4 *ngIf="notelist?.length == 0" text-center>You don't have any notes yet.</h4>
  
</ion-content>
