<ion-header>
    <ion-navbar>
        <ion-title>
            Your Cart
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="clearCart()">
                Clear
            </button>
            <button ion-button icon-only (click)="processSale()">
                Buy
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
	
<ion-content padding>  

    <ion-list *ngFor="let product of cartproducts">  
    	<ion-item class="item-thumbnail-left">  
            <ion-row>   
                <ion-col>   
        			<h2> {{product.product_title}} </h2>
                    
        			<p>Stock: {{product.product_stock}}</p>
                </ion-col>
                <ion-col>
                    Quantity:
                    <select float-right [(ngModel)]="product.user_product_qty" (change)="setQuantity(product.user_wishlist_id, product.user_product_qty)">
                            <option *ngFor="let u of product.units" [value]="u">{{u}}</option>
                    </select>
                </ion-col>
                <ion-col>
                    <ion-buttons end>
                        <button ion-button icon-only (click)="removeFromCart(product.user_wishlist_id)">
                            <ion-icon name="close"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-item>
		 
    </ion-list>
    <h4 *ngIf="cartproducts.length == 0" text-center>You don't have any products in your cart.</h4>
</ion-content>