<ion-header>
    <ion-navbar>

        <ion-title *ngIf="!editing">
            {{product_title}}
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="toggleEdit()" *ngIf="!editing">
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button icon-only (click)="deleteProduct()" *ngIf="!editing">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button icon-only (click)="editProduct()" *ngIf="editing">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-input placeholder="Product title (required)" type="text" [(ngModel)]="product_title" *ngIf="editing"></ion-input>
    <ion-textarea placeholder="Insert Product Description in here" [(ngModel)]="product_description" readonly="editing"></ion-textarea>
    <!-- <ion-input placeholder="Here goes your product image" [(ngModel)]="product_image" readonly="editing"></ion-input> -->
    <ion-row>
        <img [src]="product_image"/>

        <div *ngIf="editing">
            <input #fileinput type="file" id="files" accept="image/*" (change)="setBase64Image($event)" style="display:none"/>
                <button ion-button (click)="fakeClick()">Add image</button>
        </div>
    </ion-row>
    <div class="comment-box">
          <ion-card *ngFor="let your comment">
            <ion-card-content>
                  <strong>{{comment.message}}</strong>
                  <p>
                   {{comment.timeStamp | date : 'H:mm a'}}
                  </p>
            </ion-card-content>

          </ion-card>
        </div>
      <ion-footer padding>
        <ion-textarea [(ngModel)]="message" type="text" placeholder="Comment ... "></ion-textarea>
        <button ion-button small float-right round (click)="sendComment()">Send</button>
      </ion-footer>

    </ion-content>
    <ion-input placeholder="Here is your stock" type="number" [(ngModel)]="product_stock" readonly="editing"></ion-input>
</ion-content>