<ion-header>
    <ion-navbar>

        <ion-title *ngIf="!editing">
            {{product_title}}
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="toggleEdit()" *ngIf="!editing">
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button icon-only (click)="deleteProduct()" *ngIf="!editing">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button icon-only (click)="editProduct()" *ngIf="editing">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-input placeholder="Product title (required)" type="text" [(ngModel)]="product_title" *ngIf="editing"></ion-input>
    <ion-textarea placeholder="Insert Product Description in here" [(ngModel)]="product_description" readonly="editing"></ion-textarea>
    <!-- <ion-input placeholder="Here goes your product image" [(ngModel)]="product_image" readonly="editing"></ion-input> -->
    <ion-row>
        <img [src]="product_image" *ngIf="product_image != ''" />

        <div *ngIf="editing">
            <button ion-button (click)="pickImage()">
                <span *ngIf="product_image == ''">Add image</span>
                <span *ngIf="product_image != ''">Change image</span>
            </button>
        </div>
    </ion-row>
    <ion-input placeholder="Here is your stock" type="number" [(ngModel)]="product_stock" readonly="editing"></ion-input>
</ion-content>