<ion-header>
  <ion-navbar>

    <ion-title *ngIf="!editing">
      {{user_username}}'s profile
    </ion-title>
    <ion-title *ngIf="editing">
      Edit your profile
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleEdit()" *ngIf="!editing">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="editUser()" *ngIf="editing">
  	    <ion-icon name="checkmark"></ion-icon>
  	  </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>



<ion-content padding>

  <ion-list>
    <ion-item *ngIf="editing">
      <ion-label color="primary">Username</ion-label>
      <ion-input placeholder="Do you really want to change it?" type="text" [(ngModel)]="user_username" [disabled]="!editing"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Full name</ion-label>
      <ion-input placeholder="E.g.: John Doe" type="text" [(ngModel)]="user_fullname" [disabled]="!editing"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input placeholder="E.g.: john.doe@example.com" type="email" [(ngModel)]="user_email" [disabled]="!editing"></ion-input>
    </ion-item>
    <ion-item *ngIf="editing">
    <ion-label color="primary">Password</ion-label>
      <ion-input placeholder="Leave blank to keep it unchanged" type="password" [(ngModel)]="user_password" [disabled]="!editing"></ion-input>
    </ion-item>
  </ion-list>

  <br/>
  <p class="userwarning" *ngIf="!editing">Careful! This action cant be undone!</p>
  <button ion-button color="danger" block *ngIf="!editing" (click)="deleteUser()">Delete account</button>

</ion-content>
