<ion-header>
  <ion-navbar>

    <ion-title *ngIf="!editing">
      {{note_title}}
    </ion-title>
    <ion-title *ngIf="editing">
      Edit note
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleEdit()" *ngIf="!editing">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteNote()" *ngIf="!editing">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="editNote()" *ngIf="editing">
  	    <ion-icon name="checkmark"></ion-icon>
  	  </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>



<ion-content padding>
  <p *ngIf="!editing">{{note_content}}</p>

  
  <ion-input placeholder="Note title (required)" type="text" [(ngModel)]="note_title" *ngIf="editing"></ion-input>

  <ion-textarea placeholder="Your note content goes here" [(ngModel)]="note_content" *ngIf="editing"></ion-textarea>

</ion-content>
